

<%= @content["status"] %>
<p><%= @content["time"] %></p>
<p>Food Type Status: <%= @content["typeStatus"] %></p>

<%= link_to "My Food", foods_path %>
<p> <%= link_to "Common Foods", food_types_path %></p>


<%= button_to "YES",  :controller => 'foods', :action => :foodYes, :method => :get %>

<%= button_to "NO",  :controller => 'foods', :action => :foodNo, :method => :get %>