

<%= @content["status"] %>
<p>
  <%= @content["time"] %>
</p>

<%= link_to "My Food", foods_path %>


<%= button_to "YES",  :controller => 'foods', :action => :foodYes, :method => :get %>

<%= button_to "NO",  :controller => 'foods', :action => :foodNo, :method => :get %>