<!DOCTYPE html>
<html>
<head>
  <title>FoodAtHub</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Food Table", food_path %>
<%= yield %>

</body>
</html>
